@-webkit-keyframes pop {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-moz-keyframes pop {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.pop {
  -webkit-animation: pop 2s;
  -moz-animation: pop 2s;

}
